@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

/* Base Styles */
body {
	font-family: 'DM Sans', sans-serif;
	background-color: var(--background);
	color: var(--foreground);
	transition: background-color 0.3s ease, color 0.3s ease;
	margin: 0;
	padding: 0;
}
button {
	transition: opacity 150ms ease;
}
button:hover {
	opacity: 0.7;
	cursor: pointer;
}

/* Color Variables */
:root {
	--circles-dark-blue: #0044cc;
	--circles-light-blue: #689bff;
	--circles-dark: #0e0e0e;
	--circles-light: #f8f4ea;
	--groovy-green: #14aa3e;
	--groovy-red: #e8083e;
	--groovy-gray: #737373;

	--background: var(--circles-light);
	--background-secondary: rgba(0, 0, 0, 0.03);
	--foreground: var(--circles-dark);
	--foreground-secondary: rgba(14, 14, 14, 0.65);
	--primary: var(--circles-dark-blue);
	--primary-hover: var(--circles-light-blue);
	--accent: var(--circles-light-blue);
	--border: rgba(14, 14, 14, 0.1);
	--shadow: rgba(0, 0, 0, 0.05);

	--foreground-rgb: 14, 14, 14;
	--background-rgb: 248, 244, 234;
}

.dark {
	--background: var(--circles-dark);
	--background-secondary: rgba(255, 255, 255, 0.05);
	--foreground: var(--circles-light);
	--foreground-secondary: rgba(248, 244, 234, 0.65);
	--primary: var(--circles-light-blue);
	--primary-hover: var(--circles-dark-blue);
	--accent: var(--circles-dark-blue);
	--border: rgba(248, 244, 234, 0.15);
	--shadow: rgba(0, 0, 0, 0.2);

	--foreground-rgb: 248, 244, 234;
	--background-rgb: 14, 14, 14;
}

/* Mobile Container */
.mobile-container {
	max-width: 640px;
	margin: 0 auto;
	padding: 0 16px;
}

/* stopping horizontal scrolling */
body {
	overflow-x: hidden;
}

/* Navbar Styles */
.navbar {
	background-color: var(--background);
	border-top: 1px solid var(--foreground);
	padding: 0.75rem 1rem;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	z-index: 50;
}

.navbar a {
	color: var(--foreground);
	font-size: 0.875rem;
}

.navbar a.active {
	color: var(--primary);
}

/* Toggle Switch Styles */
.toggle {
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	cursor: pointer;
	width: 3rem;
	height: 1.5rem;
	border-radius: 1rem;
	background-color: var(--background-secondary);
	transition: all 0.3s ease;
}

.toggle:before {
	content: '';
	position: absolute;
	height: 1.2rem;
	width: 1.2rem;
	border-radius: 50%;
	left: 0.15rem;
	top: 0.15rem;
	background-color: var(--foreground-secondary);
	transition: all 0.3s ease;
}

.toggle:checked {
	background-color: var(--primary);
}

.toggle:checked:before {
	left: 1.65rem;
	background-color: white;
}

.toggle-sm {
	width: 2.5rem;
	height: 1.2rem;
}

.toggle-sm:before {
	height: 0.9rem;
	width: 0.9rem;
	left: 0.15rem;
	top: 0.15rem;
}

.toggle-sm:checked:before {
	left: 1.45rem;
}

.toggle-primary:checked {
	background-color: var(--primary);
}

.black-outline {
	text-shadow: 1px 1px 1px #0e0e0e;
	color: white;
}

@import 'tailwindcss';
